In [73]:
import pandas as pd

df_nacim = pd.read_csv('nacim23.csv')

# Configurar pandas para mostrar todas las columnas
pd.set_option('display.max_columns', None)

# Mostrar solo las primeras 5 filas
print(df_nacim.head(5))

   ENT_REGIS  MUN_REGIS  LOC_REGIS  TLOC_REGIS  ENT_RESID  MUN_RESID  \
0          1          1          1          15          1          1
1          1          1          1          15          1          1
2          1         11          1           7          1         11
3          1          5          1          11          1          1
4          1         10          1           5          1         10

   LOC_RESID  TLOC_RESID  ENT_OCURR  MUN_OCURR  LOC_OCURR  TLOC_OCURR  SEXO  \
0       9999          99          1          1       9999          99     2
1          1          15          1          1          1          15     2
2          1           7          1          1          1          15     1
3          1          15          1          1          1          15     1
4       7777           1          1          1          1          15     1

   EDAD_REG  EDAD_MADN  EDAD_PADN  DIA_NAC  MES_NAC  ANO_NAC  DIA_REG  \
0        99         99         99       99       99     9999        3
1         1         21         99       19        3     2021       28
2        98         32         33        4        3     2023       14
3        98         29         33        6        3     2023       10
4        98         33         99       22        3     2023        4

   MES_REG  ANO_REG  EDAD_MADR  EDAD_PADR  TIPO_NAC  ORDEN_PART  LUGAR_PART  \
0       10     2023         99         99         1           1           9
1        2     2023         22         99         1           1           1
2        3     2023         32         33         1           2           2
3        4     2023         29         33         1           3           1
4        4     2023         33         99         2           3           1

   Q_ATENDIO  HIJOS_VIVO  HIJOS_SOBR  EDOCIV_MAD  ESCOL_MAD  ESCOL_PAD  \
0          9           1          99           9          9          5
1          1           1           1           1          5          9
2          1           2           2           2          7          7
3          1           2           2           3          5          5
4          1           4           4           2          6          7

   ACT_MAD  ACT_PAD  POS_MAD  POS_PAD  SITLAB_MAD  SITLAB_PAD  FUE_PRESE  \
0        9        1        9        2           9           1          2
1        1        9        2        9           1           9          1
2        1        1        2        2           1           1          1
3        1        1        2        2           1           1          1
4        2        1        9        2           3           1          1

   HORA_NAC  MINUTO_NAC  COMPARECIO  DIS_RE_OAX
0        99          99           9         999
1        21          16           2         999
2        18          58           3         999
3        23          16           3         999
4        16          40           3         999

In [63]:
df_nacim.shape

(1820888, 44)